$text-color:#FFF;
$card-height:450px;
$card-width:400px;
$card-bg:linear-gradient(90deg, rgba(15,203,241,1) 0%, rgba(15,203,241,1) 34%, rgba(25,118,210,1) 100%);

.wrong{
    height:$card-height ;
    width: $card-width;
    background: $card-bg;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px 5px 0 0;
    color: $text-color;

    .wrong-answer{
        margin-top: 15px;
    }
}